#root {
  /* width: 100vw; */
  min-height: calc(100svh - 40px);
  background-color: #96c93d;
}
footer {
  height: 40px;
  background-color: aliceblue;
}
* {
  font-family: 'Fira Code', monospace;
  box-sizing: border-box;
}
