#root {
  min-height: calc(var(--full-height) - 40px);
  background-color: #96c93d;
  display: grid;
}
footer {
  height: 40px;
  background-color: aliceblue;
}
* {
  font-family: 'Fira Code', monospace;
  box-sizing: border-box;
}
